@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --dark-grey: #191a23;
  --light-grey: #f3f3f3;
  --lime: #b9ff66;
  --foreground: #000;
  --font-space-grotesk: "Space Grotesk", Arial, Helvetica, sans-serif;
}

@layer base {
  body {
    font-family: var(--font-space-grotesk);
    color: var(--foreground);
    background: var(--background);
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
